$calc-fg-color-primary: #333;
$calc-fg-color-secondary: #396d91;

$calc-font: 11pt monospace;
$calc-color-bg: #6bafdb;
$calc-color-fg: $calc-fg-color-primary;

$calc-ast-color-fg: $calc-fg-color-secondary;
$calc-error-color-fg: #a00;

body {
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}

#calc {
    position: absolute;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    > * {
        padding: 10px;

        font: $calc-font;

        background-color: $calc-color-bg;
        color: $calc-color-fg;

        text-transform: uppercase;
    }
}

#screen {
    flex: 1;
    overflow-y: scroll;
    scroll-behavior: smooth;

    .ast {
        color: $calc-ast-color-fg;
    }

    .error {
        color: $calc-error-color-fg;
    }
}

#input {
    border-top: 1px solid $calc-fg-color-secondary;
    border-left: none;
    border-right: none;
    border-bottom: none;

    &:focus {
        outline: none;
    }
}